<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> <!-- jQuery -->
</head>
<body>
<div class="container mt-4">
    <div class="card">
        <h1 class="card-header bg-secondary text-white">Lista de Usuários</h1>
        <div class="card-body">
            <!-- Formulário de Busca -->
            <form th:action="@{/user/list}" method="get" class="mb-3">
                <div class="input-group">
                    <input type="text" id="searchInput" name="query" class="form-control"
                           placeholder="Buscar por nome ou ID" th:value="${query}">
<!--                    <div class="input-group-append">-->
                        <button class="btn btn-primary" type="submit">Buscar</button>
                        <!-- Botão Home -->
                        <a href="/user/list" class="btn btn-secondary ml-2">
                            <i class="bi bi-house-door"></i>
                        </a>
<!--                    </div>-->
                </div>
            </form>

            <a href="/user/create" class="btn btn-success float-right mb-3">Cadastrar novo usuário</a>
            <form th:action="@{/user/delete-multiple}" method="post">
                <div class="mb-3">
                    <label>
                        <input type="checkbox" id="select-all"/> Selecionar Todos
                    </label>
                </div>
                <table class="table table-striped">
                    <thead class="bg-secondary text-white">
                    <tr>
                        <th scope="col">Selecionar</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Idade</th>
                        <th scope="col">Sexo</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="userTableBody">
                    <!-- A tabela será preenchida via AJAX -->
                    <tr th:each="user : ${userPage.content}">
                        <td><input type="checkbox" class="check-box" name="selectedUsers" th:value="${user.id}"/>
                        </td>
                        <td th:text="${user.nome}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.cpf}"></td>
                        <td th:text="${user.idade}"></td>
                        <td th:text="${user.sexo}"></td>
                        <td>
                            <a th:href="@{/user/edit/{id}(id=${user.id})}" class="btn btn-primary btn-icon"
                               title="Editar">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a th:href="@{/user/delete/{id}(id=${user.id})}" class="btn btn-danger btn-icon"
                               title="Excluir"
                               onclick="return confirm('Tem certeza que deseja excluir este usuário?')">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- Paginação -->
                <nav aria-label="Página de navegação">
                    <ul class="pagination">
                        <!-- Página Anterior -->
                        <li th:classappend="${userPage.hasPrevious()} ? 'page-item' : 'page-item disabled'">
                            <a class="page-link"
                               th:href="@{/user/list(query=${query}, page=${userPage.number - 1}, size=${userPage.size})}"
                               tabindex="-1">Anterior</a>
                        </li>

                        <!-- Páginas Numeradas -->
                        <li th:each="i : ${#numbers.sequence(0, userPage.totalPages - 1)}"
                            th:classappend="${i == userPage.number} ? 'page-item active' : 'page-item'">
                            <a class="page-link"
                               th:href="@{/user/list(query=${query}, page=${i}, size=${userPage.size})}"
                               th:text="${i + 1}"></a>
                        </li>

                        <!-- Próxima Página -->
                        <li th:classappend="${userPage.hasNext()} ? 'page-item' : 'page-item disabled'">
                            <a class="page-link"
                               th:href="@{/user/list(query=${query}, page=${userPage.number + 1}, size=${userPage.size})}">Próximo</a>
                        </li>
                    </ul>
                </nav>
            </form>
            <!-- Mensagem de erro -->
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <p th:text="${errorMessage}"></p>
            </div>
        </div>
    </div>
</div>
<script src="/list-scripts.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
